@model IEnumerable<Categoria>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a asp-action="EditarCategoria" asp-route-id="@item.Id"
                    data-ajax="true" data-ajax-method="get" 
                    data-ajax-mode="replace" data-ajax-update="#CatForm">Editar</a>
                </td>
            </tr>
    }
    </tbody>
</table>