@model Webima.Models.Bilhete

@{
    ViewData["Title"] = "Comprar Bilhetes";
    var filme = Model.IdFilmeNavigation;
    int max = (ViewBag.Lotacao < 6) ? ViewBag.Lotacao : 6;
}

<section class="maincontent">
    <div class="container" >
        <div class="row">
            <div class="col-lg">
                <row>
                    <h2>@filme.Titulo | @filme.Ano</h2>
                </row>
                <br />
                <row>
    				<img class="img-fluid" src="~/posters/@filme.Poster" />
                </row>
            </div>
            <div class="col-lg-8">
                <row>
                    <h1>Detalhes dos bilhetes</h1>
                </row>
                <br />
                <row>
                    <form asp-action="Comprar" method="post">
                        <input name="Id_Bil" value="@Model.Id" type="hidden" />
                        <div class="transformers-content" style="font-size: 1.2em;">
					        <ul>                              
						        <li>
							        <div class="transformers-left">Data:</div>
							        <div class="transformers-right">@Model.Data.ToString("d", CultureInfo.GetCultureInfo("pt-PT"))</div>
						        </li>
						        <li>
							        <div class="transformers-left">Sessão:</div>
							        <div class="transformers-right">@Model.IdSessaoNavigation.Horas.ToString(@"hh\:mm")</div>
						        </li>
                                <li>
							        <div class="transformers-left">Sala:</div>
							        <div class="transformers-right">@Model.IdSalaNavigation.Nome</div>
						        </li>
						        <li>
							        <div class="transformers-left">Lotação:</div>
							        <div class="transformers-right">@Model.IdSalaNavigation.Lotacao</div>
						        </li>
						        <li>
							        <div class="transformers-left">Disponível:</div>
							        <div class="transformers-right">@ViewBag.Lotacao</div>
						        </li>
						        <li>
							        <div class="transformers-left">N.º Bilhetes:</div>
							        <div class="transformers-right">
                                        <label class="select" for="slct">
                                            <select name="Num_Bil" id="slct">
                                                @for(int i = 1; i <= max; i++)
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            </select>
                                            <svg>
                                                <use xlink:href="#select-arrow-down"></use>
                                            </svg>
                                        </label>
                                    </div>
						        </li>
						        <li>
							        <div class="transformers-left">Preço:</div>
							        <div class="transformers-right" id="preco">@Model.Preco.ToString("C", CultureInfo.GetCultureInfo("pt-PT"))</div>
						        </li>
						        <li>
							        <div class="transformers-left">Total:</div>
							        <div class="transformers-right" id="total">@Model.Preco.ToString("C", CultureInfo.GetCultureInfo("pt-PT"))</div>
						        </li>
                            </ul>
                        </div>
                        <br />
                        <button type="submit" class="theme-btn theme-btn2">Pagar</button>
                    </form>
                </row>
            </div>
        </div>
    </div>
</section>

<svg class="sprites">
  <symbol id="select-arrow-down" viewBox="0 0 10 6">
    <polyline points="1 1 5 5 9 1"></polyline>
  </symbol>
</svg>